@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "./theme/variables.css";

:root {
  font-family:
    "Montserrat",
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-primary);
  background-color: var(--color-bg-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-cta);
}

a:hover {
  color: var(--color-cta-hover);
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--color-bg-main);
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
